@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply subpixel-antialiased
    text-slate800
    bg-gradient-to-b
    from-gray-200
    to-gray-300
    dark:from-gray-700
    dark:to-gray-800
    dark:text-gray-300;

    & .icon-menu, & .icon-sun, & .icon-phone, & .icon-instagram g, & .logo #boveda, & .icon-user{
      @apply dark:fill-gray-300
    }

    & .nav {
      & .icon{
        @apply w-5
        cursor-pointer;

        &:hover{
          @apply opacity-90
        }

        &.icon-menu{
          @apply w-6
        }

        &.icon-phone{
          @apply xl:w-6 xl:px-1
        }
      }
    }

    & .nav.white {
      & span {
        @apply text-white/90;
      }

      & .icon-menu, & .icon-sun, & .icon-phone, & .icon-instagram g, & .logo #boveda{
        @apply fill-white/90;
      }

      & .icon-monitor, & .icon-dark {
        @apply stroke-white/90;
      }

      &.scrolled {
        & span {
          @apply text-slate800 dark:text-gray-300;
        }

        & .icon-menu, & .icon-sun, & .icon-phone,& .icon-instagram g{
          @apply fill-current
        }

        & .icon-monitor, & .icon-dark{
          @apply stroke-current;
        }
      }
    }

    & a {
      @apply dark:text-gray-300;

      &:hover {
        @apply text-gray-500 transition-colors dark:text-gray-300;
      }

      &.nuxt-link-exact-active.nuxt-link-active,
      &.nuxt-link-exact-active.nuxt-link-active:hover {
        @apply cursor-default text-gray-600 dark:text-gray-400;
      }
    }

    & h1,
    & h2 {
      &:after {
        @apply block
        w-10
        h-1
        bg-slate800
        dark:bg-gray-300;
      }
    }

    & li {
      &:after {
        @apply block
        bg-slate600
        h-[3px]
        w-[3px]
        rounded-md
        mx-2
        dark:bg-gray-300;
      }
    }
  }
}
